<h1>New User</h1>
<form accept-charset='UTF-8' action='/users' method='post'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <div class='username-container'>
    <label for='username'>Username:</label>
    <input type='text' name='username' id='username'>
  </div>

  <div class='email-container'>
    <label for='email'>Email:</label>
    <input type='email' name='email' id='email'>
  </div>

  <div class='password'>
    <label for='password'>Password:</label>
    <input type='password' name='password' id='password'>
  </div>

  <input type='submit' value='Create New User'>
</form>
